{% extends 'base.html' %}
{% block title %}products page{% endblock %}
{% block head%}
{{ super() }}

{% endblock %}
{% block content %}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
    style="background-color: black;color: darkolivegreen;">
    ADD PRODUCTS
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/add_products" method="post" style="background-color: black;color: darkolivegreen;">
                    <input type="text" placeholder="name" name="pname"><br>
                    <input type="number" placeholder="buying_price" name="bp"><br>
                    <input type="number" placeholder="selling_price" name="sp"><br>
                    <input type="number" placeholder="stock_quantity" name="quantity"><br>

                    <button type="submit" class="btn btn-primary">ADD</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<table id="myTable" class="display">

    <thead>

        <tr>
            <th>id</th>
            <th>name</th>
            <th>buying price</th>
            <th>selling price</th>
            <th>stock quantity</th>
        </tr>

    </thead>
    <tbody>
        {%for i in products%}
        <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td>{{i[3]}}</td>
            <td>{{i[4]}}</td>

        </tr>
        {%endfor%}
    </tbody>
</table>


</div>



{% endblock %}